GenericTwitterToGPUdb.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>GenericTwitterToGPUdb</name><snippet><connections><id>04a7b844-c1ec-4ff7-868a-4fb9adb94575</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>556ef37d-fe9b-47b0-bdaf-5d2fd0b1d2cf</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>tweet</selectedRelationships><source><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>d680ee4b-aee1-40b6-a9fa-fbc732cd5f6a</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>db2f2b3d-7746-4ea7-8ea9-72684ad03fee</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>d680ee4b-aee1-40b6-a9fa-fbc732cd5f6a</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>bc3c9c70-ff73-4800-80b1-67a2f9885828</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>95a404b1-2552-4d5e-924a-cd5554dc15d5</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>59ccbd62-0042-488c-a1b8-5dae658ef6d2</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>3921456d-1dfa-4f7e-8085-0bb75b4c42e3</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>0f8328ae-6442-402e-b195-b22a4634175b</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>bc3c9c70-ff73-4800-80b1-67a2f9885828</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>b8f4d0b3-d0ee-4086-967c-a33221b84583</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>7bf797f6-a8f6-4f6a-9c7c-a2e273ca42f1</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>1000</backPressureObjectThreshold><destination><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>b8f4d0b3-d0ee-4086-967c-a33221b84583</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>f0b08ca8-db5f-4e90-ad34-9427c3de7123</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>01e2aac3-b926-499e-897d-724c4be391ea</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>a263e242-0dd9-425e-933b-560ff73bed07</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</groupId><id>59ccbd62-0042-488c-a1b8-5dae658ef6d2</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>a263e242-0dd9-425e-933b-560ff73bed07</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><position><x>791.4329734675779</x><y>400.0660062663321</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Server URL</key><value><description>URL of the GPUdb server</description><displayName>Server URL</displayName><dynamic>false</dynamic><name>Server URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Collection Name</key><value><description>Name of the GPUdb collection</description><displayName>Collection Name</displayName><dynamic>false</dynamic><name>Collection Name</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>Name of the GPUdb table</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Schema</key><value><description>Schema of the GPUdb table</description><displayName>Schema</displayName><dynamic>false</dynamic><name>Schema</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Label</key><value><description>Type label of the GPUdb table</description><displayName>Label</displayName><dynamic>false</dynamic><name>Label</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Semantic Type</key><value><description>Semantic type of the GPUdb table</description><displayName>Semantic Type</displayName><dynamic>false</dynamic><name>Semantic Type</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Version</key><value><defaultValue>1</defaultValue><description>Semantic type of the GPUdb table</description><displayName>Version</displayName><dynamic>false</dynamic><name>Version</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Server URL</key><value>http://127.0.0.1:9191</value></entry><entry><key>Collection Name</key></entry><entry><key>Table Name</key><value>TwitterTest2</value></entry><entry><key>Schema</key><value>x|Float|data,y|Float|data,TIMESTAMP|Long|data,TEXT|String|store_only|text_search,AUTHOR|String|text_search|data,URL|String|store_only,SENTIMENT_EMOJI_J|Integer|data,SENTIMENT_LGCL_RGRES_J|Integer|data,SENTIMENT_DICT_J|Integer|data,SENTIMENT_VADER_P|Float|data,SENTIMENT_TXTBLOB_P|Float|data,SENTIMENT_AFIN_WO_EMO_P|Float|data,SENTIMENT_AFIN_W_EMO_P|Float|data
</value></entry><entry><key>Label</key><value>Twitter</value></entry><entry><key>Semantic Type</key></entry><entry><key>Version</key><value>1</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutGPUdbFromAttributes</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles that cannot be written to GPUdb are routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles that are written to GPUdb are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.gisfederal.gpudb.processors.GPUdbNiFi.PutGPUdbFromAttributes</type></processors><processors><id>556ef37d-fe9b-47b0-bdaf-5d2fd0b1d2cf</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><position><x>332.89117431640625</x><y>726.4287261962891</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Server URL</key><value><description>URL of the GPUdb server</description><displayName>Server URL</displayName><dynamic>false</dynamic><name>Server URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Collection Name</key><value><description>Name of the GPUdb collection</description><displayName>Collection Name</displayName><dynamic>false</dynamic><name>Collection Name</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>Name of the GPUdb table</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Schema</key><value><description>Schema of the GPUdb table</description><displayName>Schema</displayName><dynamic>false</dynamic><name>Schema</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Label</key><value><description>Type label of the GPUdb table</description><displayName>Label</displayName><dynamic>false</dynamic><name>Label</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Semantic Type</key><value><description>Semantic type of the GPUdb table</description><displayName>Semantic Type</displayName><dynamic>false</dynamic><name>Semantic Type</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Version</key><value><defaultValue>1</defaultValue><description>Semantic type of the GPUdb table</description><displayName>Version</displayName><dynamic>false</dynamic><name>Version</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Server URL</key><value>http://127.0.0.1:9191</value></entry><entry><key>Collection Name</key></entry><entry><key>Table Name</key><value>TwitterTest</value></entry><entry><key>Schema</key><value>x|Float|data,y|Float|data,TIMESTAMP|Long|data,TEXT|String|store_only|text_search,AUTHOR|String|text_search|data,URL|String|store_only,SENTIMENT_EMOJI_J|Integer|data,SENTIMENT_LGCL_RGRES_J|Integer|data,SENTIMENT_DICT_J|Integer|data,SENTIMENT_VADER_P|Float|data,SENTIMENT_TXTBLOB_P|Float|data,SENTIMENT_AFIN_WO_EMO_P|Float|data,SENTIMENT_AFIN_W_EMO_P|Float|data
</value></entry><entry><key>Label</key><value>Twitter</value></entry><entry><key>Semantic Type</key></entry><entry><key>Version</key><value>1</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutGPUdbFromAttributes</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles that cannot be written to GPUdb are routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles that are written to GPUdb are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.gisfederal.gpudb.processors.GPUdbNiFi.PutGPUdbFromAttributes</type></processors><processors><id>d680ee4b-aee1-40b6-a9fa-fbc732cd5f6a</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><position><x>334.3893280029297</x><y>545.3199501037598</y></position><config><bulletinLevel>ERROR</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>tweet</key><value><description></description><displayName>tweet</displayName><dynamic>true</dynamic><name>tweet</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to Property name</value></entry><entry><key>tweet</key><value>${twitter.msg:isEmpty():not():and (${twitter.coords:isEmpty():not()})}</value></entry></properties><runDurationMillis>25</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Find only Tweets</name><relationships><autoTerminate>false</autoTerminate><description></description><name>tweet</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>59ccbd62-0042-488c-a1b8-5dae658ef6d2</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><position><x>785.4329734675779</x><y>238.81940897629318</y></position><config><bulletinLevel>ERROR</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.AUTHOR</key><value><description></description><displayName>gpudb.AUTHOR</displayName><dynamic>true</dynamic><name>gpudb.AUTHOR</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.TEXT</key><value><description></description><displayName>gpudb.TEXT</displayName><dynamic>true</dynamic><name>gpudb.TEXT</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.TIMESTAMP</key><value><description></description><displayName>gpudb.TIMESTAMP</displayName><dynamic>true</dynamic><name>gpudb.TIMESTAMP</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.URL</key><value><description></description><displayName>gpudb.URL</displayName><dynamic>true</dynamic><name>gpudb.URL</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.x</key><value><description></description><displayName>gpudb.x</displayName><dynamic>true</dynamic><name>gpudb.x</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.y</key><value><description></description><displayName>gpudb.y</displayName><dynamic>true</dynamic><name>gpudb.y</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>json</value></entry><entry><key>Path Not Found Behavior</key><value>warn</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>gpudb.AUTHOR</key><value>$.AUTHOR</value></entry><entry><key>gpudb.TEXT</key><value>$.TEXT</value></entry><entry><key>gpudb.TIMESTAMP</key><value>$.TIMESTAMP</value></entry><entry><key>gpudb.URL</key><value>$.URL</value></entry><entry><key>gpudb.x</key><value>$.x</value></entry><entry><key>gpudb.y</key><value>$.y</value></entry></properties><runDurationMillis>25</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Pull Key Attributes</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>3921456d-1dfa-4f7e-8085-0bb75b4c42e3</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><position><x>788.4329734675779</x><y>71.06600626633232</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Server URL</key><value><description>URL of the GPUdb server</description><displayName>Server URL</displayName><dynamic>false</dynamic><name>Server URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>Name of the GPUdb table</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Monitor URL</key><value><description>URL of the GPUdb table monitor</description><displayName>Table Monitor URL</displayName><dynamic>false</dynamic><name>Table Monitor URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Server URL</key><value>http://127.0.0.1:9191</value></entry><entry><key>Table Name</key><value>TwitterTest</value></entry><entry><key>Table Monitor URL</key><value>tcp://127.0.0.1:9002</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GetGPUdbToJSON</name><relationships><autoTerminate>false</autoTerminate><description>All CSV files from the GPUdb set are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.gisfederal.gpudb.processors.GPUdbNiFi.GetGPUdbToJSON</type></processors><processors><id>bc3c9c70-ff73-4800-80b1-67a2f9885828</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><position><x>331.103509898582</x><y>375.57355187474366</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>gpudb.URL</key><value><description></description><displayName>gpudb.URL</displayName><dynamic>true</dynamic><name>gpudb.URL</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>gpudb.URL</key><value>http://www.twitter.com/${gpudb.AUTHOR}/status/${id}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>f0b08ca8-db5f-4e90-ad34-9427c3de7123</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><position><x>312.41925048828125</x><y>22.161357879638672</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Twitter Endpoint</key><value><allowableValues><description>The endpoint that provides public data, aka a 'garden hose'</description><displayName>Sample Endpoint</displayName><value>Sample Endpoint</value></allowableValues><allowableValues><description>The endpoint that provides access to all tweets</description><displayName>Firehose Endpoint</displayName><value>Firehose Endpoint</value></allowableValues><allowableValues><description>Endpoint that allows the stream to be filtered by specific terms or User IDs</description><displayName>Filter Endpoint</displayName><value>Filter Endpoint</value></allowableValues><defaultValue>Sample Endpoint</defaultValue><description>Specifies which endpoint data should be pulled from</description><displayName>Twitter Endpoint</displayName><dynamic>false</dynamic><name>Twitter Endpoint</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Consumer Key</key><value><description>The Consumer Key provided by Twitter</description><displayName>Consumer Key</displayName><dynamic>false</dynamic><name>Consumer Key</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Consumer Secret</key><value><description>The Consumer Secret provided by Twitter</description><displayName>Consumer Secret</displayName><dynamic>false</dynamic><name>Consumer Secret</name><required>true</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Access Token</key><value><description>The Access Token provided by Twitter</description><displayName>Access Token</displayName><dynamic>false</dynamic><name>Access Token</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Access Token Secret</key><value><description>The Access Token Secret provided by Twitter</description><displayName>Access Token Secret</displayName><dynamic>false</dynamic><name>Access Token Secret</name><required>true</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Languages</key><value><description>A comma-separated list of languages for which tweets should be fetched</description><displayName>Languages</displayName><dynamic>false</dynamic><name>Languages</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Terms to Filter On</key><value><description>A comma-separated list of terms to filter on. Ignored unless Endpoint is set to 'Filter Endpoint'. The filter works such that if any term matches, the status update will be retrieved; multiple terms separated by a space function as an 'AND'. I.e., 'it was, hello' will retrieve status updates that have either 'hello' or both 'it' AND 'was'</description><displayName>Terms to Filter On</displayName><dynamic>false</dynamic><name>Terms to Filter On</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>IDs to Follow</key><value><description>A comma-separated list of Twitter User ID's to follow. Ignored unless Endpoint is set to 'Filter Endpoint'.</description><displayName>IDs to Follow</displayName><dynamic>false</dynamic><name>IDs to Follow</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Locations to Filter On</key><value><description>A comma-separated list of coordinates specifying one or more bounding boxes to filter on.Each bounding box is specified by a pair of coordinates in the format: swLon,swLat,neLon,neLat. Multiple bounding boxes can be specified as such: swLon1,swLat1,neLon1,neLat1,swLon2,swLat2,neLon2,neLat2.Ignored unless Endpoint is set to 'Filter Endpoint'.</description><displayName>Locations to Filter On</displayName><dynamic>false</dynamic><name>Locations to Filter On</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Twitter Endpoint</key><value>Sample Endpoint</value></entry><entry><key>Consumer Key</key><value>eYkCkJQy4QFzJVtnXyq8lHyOx</value></entry><entry><key>Consumer Secret</key></entry><entry><key>Access Token</key><value>753300714500202496-4wTYWeS0dxS2OOFv0R8c74td2ubi3kg</value></entry><entry><key>Access Token Secret</key></entry><entry><key>Languages</key></entry><entry><key>Terms to Filter On</key></entry><entry><key>IDs to Follow</key></entry><entry><key>Locations to Filter On</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Grab Garden Hose</name><relationships><autoTerminate>false</autoTerminate><description>All status updates will be routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.twitter.GetTwitter</type></processors><processors><id>b8f4d0b3-d0ee-4086-967c-a33221b84583</id><parentGroupId>d0ba2b07-edec-4676-b78f-8cf2d4473e5b</parentGroupId><position><x>317.54710388183594</x><y>212.55302810668945</y></position><config><bulletinLevel>ERROR</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.AUTHOR</key><value><description></description><displayName>gpudb.AUTHOR</displayName><dynamic>true</dynamic><name>gpudb.AUTHOR</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.TEXT</key><value><description></description><displayName>gpudb.TEXT</displayName><dynamic>true</dynamic><name>gpudb.TEXT</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.TIMESTAMP</key><value><description></description><displayName>gpudb.TIMESTAMP</displayName><dynamic>true</dynamic><name>gpudb.TIMESTAMP</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.x</key><value><description></description><displayName>gpudb.x</displayName><dynamic>true</dynamic><name>gpudb.x</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>gpudb.y</key><value><description></description><displayName>gpudb.y</displayName><dynamic>true</dynamic><name>gpudb.y</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>id</key><value><description></description><displayName>id</displayName><dynamic>true</dynamic><name>id</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>language</key><value><description></description><displayName>language</displayName><dynamic>true</dynamic><name>language</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.coords</key><value><description></description><displayName>twitter.coords</displayName><dynamic>true</dynamic><name>twitter.coords</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.handle</key><value><description></description><displayName>twitter.handle</displayName><dynamic>true</dynamic><name>twitter.handle</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>twitter.msg</key><value><description></description><displayName>twitter.msg</displayName><dynamic>true</dynamic><name>twitter.msg</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>json</value></entry><entry><key>Path Not Found Behavior</key><value>warn</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>gpudb.AUTHOR</key><value>$.user.name</value></entry><entry><key>gpudb.TEXT</key><value>$.text</value></entry><entry><key>gpudb.TIMESTAMP</key><value>$.timestamp_ms</value></entry><entry><key>gpudb.x</key><value>$.coordinates.coordinates[0]</value></entry><entry><key>gpudb.y</key><value>$.coordinates.coordinates[1]</value></entry><entry><key>id</key><value>$.id</value></entry><entry><key>language</key><value>$.lang</value></entry><entry><key>twitter.coords</key><value>$.coordinates</value></entry><entry><key>twitter.handle</key><value>$.user.screen_name</value></entry><entry><key>twitter.msg</key><value>$.text</value></entry></properties><runDurationMillis>25</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Pull Key Attributes</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors></snippet><timestamp>07/19/2016 16:57:48 EDT</timestamp></template>